body{
    margin: 0;
    background: #1d001f;
    color: #fff;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 800px;
}


header {
    margin-top:10px;
    padding-bottom:50px;
    text-align: center;
}

session {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a{
    text-decoration: underline;
    font-size: 18px;
}

a {
    color: #fff;
    text-decoration: none;
}
